#grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
 }

.div1 {
    grid-area:div1;
}

.div3 {
    grid-area:div3;
}

.div2 {
    grid-area:div2;
}

nav {
    font-size:.7em;
}

nav > a {
    text-decoration:underline double;
}

